<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>

<% @books.each do |book| %>
  <div>
    <h3><%= link_to book.title, book %></h3>
    <p>Author: <%= book.author %></p>
    <p>Status: <%= book.available? ? "Available" : "Borrowed" %></p>
  </div>
<% end %>